<%= erb :header %>

<div class="container">
  <div class="page-header">
    <div class="container albums-container">
      <div class="col-sm-4 album_holder">
        <div class="album_photo1" id="<%= @album.id %>">
          <img class="img-responsive" src="<%= @album.album_photo_name %>">
        </div>
      </div>
      <div class="col-sm-8">
        <h3><%= @album.artist.name %></h3>
        <h1 class="album_name"><%= @album.name %></h1>
        <h5><a href="/label/<%= @album.label_id %>"><%= Label.find(@album.label_id).name %></a></h5>
        <iframe style="border: 0; width: 100%; height: 120px;" src="<%= @album.music_embed %>" seamless><%= @album.name %> by <%= @album.artist.name %></iframe>
      </div>
    </div>
  </div>
  <% if @album.reviews.any?() %>
  <div class="col-md-8">
    <h4><%= @album.reviews[0].text() %></h4>
  </div>
  <div class="col-md-4">
    <h4>by <a href="#"><%= @album.reviews[0].author() %></a></h4><br><br>
    <h4>Label: <%= @album.label %></h4><br>
    <h4>Track List</h4>
      <ol class="well">
        <% @album.tracks.each do |track| %>
          <li><%= track.name %></li>
        <% end %>
      </ol>
    <br>
    <h4 class="well">Credits:<br><br>"<%= @album.credits %>"</h4>

    <ul class="nav nav-pills">
      <% @album.tags.each() do |tag| %>
      <li role="presentation"><a href="#"><%= tag.text() %></a></li>
      <% end %>
      <a href="/albums/<%= @album.id %>/tags"><button class="btn btn-danger">Manage Tags</button></a>
    </ul>

  </div>
  <% else %>
  <h2>There is no review for this album yet!</h2>
  <% end %>
  <div class="col-md-12">
    <h4><a href="/reviews">Back</a></h4>
  </div>

  <% if @user.username == "admin" %>
    <a href="/new_review"><button class="btn btn-danger">Add Review</button></a>
  <% end %>

  <div class="col-sm-8">
    <% @album.comments.each() do |comment| %>
    <div class="well">
      <p><%= comment.text() %></p>
      <p>by -<%= User.find(comment.user_id()) rescue "anonymous" %>-</p>
    </div>
    <% end %>
    <a href="/albums/<%= @album.id %>/new_comment"><button class="btn btn-danger">Add Comment</button></a>
  </div>



</div>
