<%= erb :header %>

<div class="container albums-container">

  <% Album.all.each do |album| %>
    <div class="col-sm-4 album_holder">
      <div class="album_photo1" id="<%= album.id %>">
        <a href="/albums/<%= album.id %>"><img class="img-responsive" src="<%= album.album_photo_name %>"></a>
      </div>

      <a href="/artists/<%= album.artist.id %>"><h4><%= album.artist.name %></h4></a>
      <a href="/albums/<%= album.id %>"><h3><em><%= album.name %></em></h3></a>

    </div>
  <% end %>

</div>
