<%= erb :header %>

<div class="container albums-container">

  <% Album.all.each do |album| %>
    <div class="col-sm-4 album_holder">
      <div class="album_photo1" id="<%= album.id %>">
        <a href="/albums/<%= album.id %>"><img class="img-responsive" src="<%= album.album_photo_name %>"></a>
      </div>

      <h4>
        <a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></a>
        <% if @user != nil && @user.admin == true %>
          <span class="track_length"><a href="/merch/<%= album.id%>">Add Merchandise Item</a></span>
        <% end %>
      </h4>
      <h3><a href="/albums/<%= album.id %>"><em><%= album.name %></em></a></h3>

    </div>
  <% end %>

</div>
