<%= erb :header %>
<div class="container albums-container">
  <h2>Releases from <%= @label.name %>:</h2>
  <div class="row">
    <% Album.where(label_id: @label.id).each do |album| %>
      <div class="col-md-4 album_holder">
        <div>
          <div class="album_photo" id="<%= album.id %>">
            <img class="img-responsive" src="<%= album.album_photo_name %>" >
          </div>
          <h2><%= album.name %></h4>
          <h4><a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></a></h2>
        </div>
        <div class="tracks">
          <ol>
            <% album.tracks.each do |track| %>
              <li><%= track.name %><span class="track_length"><%= track.track_length %></span></li>
            <% end %>
          </ol>
          <a href="/label/<%= @label.id %>">Show All Albums</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
