
<%= erb :header %>

<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <% if @artist != nil %>
        <h3 class="band_name"><a href="/user/account/<%= @artist.id %>"><%= @artist.name %></a></h3>
        <% if @form == nil %>
          <%= erb :profile %>
        <% elsif @form == "album" %>
          <%= erb :album_form %>
        <% elsif @form == "artist" %>
          <%= erb :artist_profile %>
        <% elsif @form == "merch" %>
          <%= erb :add_merch %>
        <% end %>
      </div>

<!-- MENU -->
      <div class="col-sm-2">
        <h3 class="enable_menu">ARTIST MENU</h3>
        <ul class="user_artist_menu">
          <li><a href="/album/new">ADD ALBUM</a></li>
          <li><a>SALES DATA</a></li>
          <li><a href="/artist/profile">ARTIST PROFILE</a></li>
        </ul>
      </div>
    <% end %>

  </div>
</div>
