<%= erb :header %>

<div class="container albums-container">

  <% Album.all.each do |album| %>
    <div class="col-sm-4 album_holder">
      <div class="album_photo1" id="<%= album.id %>">
        <a href="/albums/<%= album.id() %>"><img class="img-responsive" src="<%= album.album_photo_name %>"></a>
      </div>

      <a href="#"><h3><%= album.artist.name() %></h3></a>
      <a href="/albums/<%= album.id() %>"><h4><%= album.name %></h4></a>

    </div>
  <% end %>

</div>

BILL's to add:
      <a href="/albums/<%= album.id %>"><h4><%= album.name %></h4></a>
    </div>
    <div class="col-sm-4 tracks">
      <h5><%= album.label %></h5>
      <!-- <ol>
        <% album.tracks.each do |track| %>
          <li><%= track.name %></li>
        <% end %>
      </ol> -->
